.button1 {
    position: absolute;
    top: 31%;
    color: #302683;
    background-color:#0a0a23;
}
.header1 {
    width: 100%;
	background: #c7e1f3;
	height: 70px;
}
.title {
	padding-top: 5px;
	height: 600px;
	margin-left : 11px;
}
.menu {
	list-style: none;
	position: absolute;
	top: 10px;
	right: 100px;
}
/* .button_login {
	margin-top: 100px;
}
.button_exit {
	margin-top: 100px;
}
.button_contacts {
	margin-top: 100px;
}
.button_catalog {
	margin-top: 100px;
} */
h4 {
	display: inline;
}